Package: com.ps.polyfillsregexp
Name: RegExp Lookbehind/Indices (Polyfills)
Version: 1.3.0
Architecture: iphoneos-arm
Description: Polyfills for RegExp lookbehind assertions (iOS < 16.4) and indices (iOS < 15.0) in JavaScript.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Provides: com.ps.polyfillsregexplookbehind
Conflicts: com.ps.polyfillsregexplookbehind
Replaces: com.ps.polyfillsregexplookbehind
Depiction: https://poomsmart.github.io/repo/depictions/polyfillsregexp.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/polyfillsregexp.json
